gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradle
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
*.code-workspace
.vscode-test
.history/
hsql/
.DS_Store
thumbs.db
*.swp
*.swo
*~
.#*
,#*#
*.sublime-settings
.idea/
*.log
logs/
*.jar
!/build/libs/
build/
dist/
.gradle/
out/
bin/
src/main/resources/assets/minecraft/textures
